{% extends "base.html" %} 

{% block content %}
<!-- <div class="container">
    <h2>Add items</h2>
    <div class="container py-5 h-100">
        <form method="POST" action="/teams">
               
        </form>
    </div>    
</div> -->
<div class="container">
    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
        <form class="card-body row" method="POST" action="/inventory">
            <div class="col-sm">   
                <label>Item Name or SKU</label>
                <select class="form-control select2" name = "selectItemName" value = "Input Item Name or SKU">
                    {% for item in all_items %}
                        <option>{{ item.name }}</option> 
                    {% endfor %}
                    {% for item in all_items %}
                        <option>{{ item.SKU }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">   
                <label>Item Count</label>
                <input type="number" name="amountInserted" class="form-control form-control-lg" />
            </div>
            
            <div class="col-sm">   
                <input class="btn btn-primary btn-lg" type="submit" value="Add Item" name = "addItems" />
            </div>
        </form>
    </div>
</div>

<div class="container">
    <h2>Your Current Inventory</h2>
    <table class="table table-fluid" id="myTable">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>SKU</th>
                <th>Total Count:</th>
                <th>Team Inventory:</th>
                <th>Modify Amounts:</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %}
            <tr>
                <td>{{ item.Name }}</td>
                <td>{{ item.SKU }}</td>
                <td>{{ item.Count }}</td>
                <td>
                    <p></p>
                </td>
                <td> 
                    <input class="btn btn-primary btn-lg" type="submit" value="Modify" /> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}