<style>
  .modal-content {
    background-color: #ffffff
  }

</style>

<!-- Coach Manage Modal -->
<div class="modal fade" id="Modal-CoachForm-{{ item.SKU }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center" style="background-color:#eeeeee">
        <h3 class="modal-title w-100" id="ModalLabel">
          <!-- -->
          Item Name
        </h3>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ modify_form.hidden_tag() }}
          <h5 class="text-center">
            {{ item.Name }}
          </h5>
          <br>
          <input id="managed_item" name="managed_item" type="hidden" value="{{item.Name}}">
          <label>Total Count:</label>
          <input id="count" name="count" type="number" value = {{item.Count}} class="form-control form-control-md">
          {% for teamName in item.teamsDict.keys() %}
          <label>{{ teamName }}:</label>
          <input id="TEAM|{{ teamName }}" name="TEAM|{{ teamName }}" type="number" value = {{item.teamsDict[teamName]}} class="form-control form-control-md">
          {% endfor %}
          {{ modify_form.updateSubmit(class="btn btn-outline-primary btn-block") }}
          {{ modify_form.deleteSubmit(class="btn btn-outline-danger btn-block") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Student Manage Modal -->
<div class="modal fade" id="Modal-StuForm-{{ item.SKU }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center" style="background-color:#eeeeee">
        <h3 class="modal-title w-100" id="ModalLabel">
          <!-- -->
          Item Name
        </h3>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ modify_form.hidden_tag() }}
          <h5 class="text-center">
            {{ item.Name }}
          </h5>
          <h6 class="text-center">(Available Count: {{ item.AvailCount }})</h6>
          <br>
          <input id="managed_item" name="managed_item" type="hidden" value="{{item.Name}}">
          <input id="teams" name="teams" type="hidden" value="{{item.Teams}}">
          <input id="availCount" name="availCount" type="hidden" value="{{item.AvailCount}}">
          <input id="count" name="count" type="hidden" value="{{item.Count}}">
          <label><h5>Number Of Items To Act On:</h5></label>
          <input id="itemNumber" name="itemNumber" type="number" value = "1" class="form-control form-control-md" >
          {{ modify_form.checkoutSubmit(class="btn btn-outline-warning btn-block") }}
          {{ modify_form.returnSubmit(class="btn btn-outline-success btn-block") }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>