{% extends "base.html" %}

{% block content %}

<section class="vh-100" >
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100 pt-4">
            <!--div class="col-12 col-lg-9 col-xl-7 justify-content-center" -->
            <div class="col d-flex justify-content-center">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px; width:max-content;">
                    <div class="card-header d-flex justify-content-center"><h2 class="title justify-content-center">Welcome to the Jericho High School Vex Inventorying Site!</h2></div>
                    <div class="card-body p-md-3" style="background-color:#eeeeee">
                        <!--h1 class="title">
                            Welcome to the Jericho High School Vex Inventorying Site!
                        </h1 -->
                        <h4 class="subtitle">
                            <p class="card-text">This site was created so coachs and students alike could manage and track the distribution 
                            of robot parts among a club's different robot teams. To begin, you can create an account as a Coach or Student. If you already have an account, you may just log in.
                        </P>
                        </h3>  
                            <h5> Coach account functionality:</h5>
                            <ul>
                            <li >View and manage all VEX parts owned by your club</li>
                            <li >View parts owned by different teams under your organization</li>
                            <li >Manage a wishlist of items that teams want</li>
                            </ul>

                            <h5>Student account functionality:</h5>
                            <ul>
                            <li>View the availibity of the robot parts</li>
                            <li>Create a team inventory to manage what items your team has</li>
                            <li>Submit part requests for your coach to purchase through a wishlist</li>
                            </ul>
                            <a href="/signup" class ="btn btn-primary float-left btn-block">Click to sign up</a>
                            <a href="/login" class="btn btn-primary float-left btn-block">Click To log in</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}